body{
    background: #F6FAFD;
    font-family: "Roboto", "Open Sans";
}

.calculadora{
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
}

.entrada{
    width: 30rem;
    min-width: 20rem;
}

.funciones{
    display: flex;
    align-items: center;
}

label{
    color: #BBC7D6;
    font-size: 0.8rem;
}

input{
    width: 20rem;
    border: 0;
    border-bottom: 2px solid #52729E;
    background-color: #F6FAFD;
    font-size: 3rem;
    color: #2F4251;
    margin-bottom: 2rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

select{
    width: 17.188rem;
    height: 3rem;
    text-align: center;
    color: #FFFFFF;
    background-color: #2F4251;
    border-radius: 1.875rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
}



#resultado{
    width: 10rem;
    min-width: 8rem;
    height: 3.125rem;
    background-color: #F70025;
    color: #FFFFFF;
    border-radius: 1.875rem;
    border: 0px;
    font-weight: 400;
    font-size: 3rem;
    margin: 0 5rem 0 5rem;
}

.p_resultado{
    width: 30rem;
    min-width: 20rem;
    height: 12.188rem;
    background-color: #FFFFFF;
    padding: 3rem 3.125rem 0rem;
    border-radius: 1.313rem;
}

.p_resultado h1{
    font-size: 4.5rem;
    font-weight: 700;
    color: #2F4251;
    margin-top: 0rem;
    margin-bottom: 0rem;
}